.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0 10px;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 12px 5px 0 15px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  margin: 0 20px;

  .header__searchInput {
    height: 32px;
    width: 100%;
  }

  //material ui icon is svg (and w/o mentioning 'svg', height and width get overriden by its internal styles)
  svg.header__searchIcon {
    height: 32px;
    width: 32px;
    padding: 5px;
    background-color: #cd9042;
  }
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__link {
  text-decoration: none;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header__optionLineOne {
  font-size: 11px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header__basketCount {
  margin-left: 5px;
  margin-right: 10px;
}
